#container {
	margin-top: 20px;
	margin-left: 200px;
	margin-right: 200px;

	padding: 10px 150px 10px 150px;

	border-radius: 15px;
	background-color: Plum;
	text-color: #616A6B;
	text-font: Arial;
	

	text-align: left;
}

#content-professional {
	font-size: 42px;
	text-color: #616A6B;
	
}
	

h1 {
	font-size: 64px;
	text-align: centered;
	
}

h2 {
	font-size: 18px;
	margin-bottom: -3px;
}

h3 {
	font-size: 26px;
	margin-bottom: -20px;
}

h4 {
	font-size: 22px;
	margin-bottom: -20px;
}
p {
	font-size: 24px;
	text-align: left;
}

li {
	font-size: 18px;
	text-align: left;
}

#button {
	margin-left: 40%;
	margin-right: 40%;
	background-color: #C4CECD;

	border-radius: 15px;
	height: 100px;
}

.block-date p {
	font-size: 12px;
}
© 2017 GitHub, Inc.
Terms
Privacy
Security
Status
Help
Contact GitHub
API
Training
Shop
Blog
